{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<div style="display: flex;flex-direction: column; align-items: center;gap: 4px;">
    <p style="font-size: small;margin: 0;">¿Tienes alguna duda? ¿Quieres hablar con gente que está aprendiendo japonés?
    </p>
    <div style="display: flex;align-items: center;font-size: larger;justify-content: center;">
        <a href="https://discord.gg/y8P7mpDTcB" target="_blank" rel="noreferrer" class="md-header__button md-icon"
            style="color: var(--md-footer-accent-color); background-color: transparent;padding: 5px; border-radius: 9999px;">
            {% set icon = "fontawesome/brands/discord" %}
            {% include ".icons/" ~ icon ~ ".svg" %}
        </a>
        <div style="display: flex;">
            <a style="color: white;" href="https://discord.gg/y8P7mpDTcB" target="_blank" rel="noreferrer">
                <p style="margin:0;">Únete a nuestra comunidad</p>
            </a>
        </div>
    </div>
</div>
<script>
    // When the page loads
    window.addEventListener('load', () => {
        // Find secondary sidebar
        const sidebar = document.querySelector('.md-sidebar--secondary');

        if (sidebar) {

            // Search it here is a title
            const title = sidebar.querySelector('.md-nav__title');

            if (title) {
                // Show the sidebar (add the important)

                // Only show if we are not in mobile
                if (window.innerWidth > 1000) {
                    sidebar.setAttribute('style', 'display: flex !important;');
                }
            }
        }
    });
</script>
{% endblock %}