{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<div style="display: flex;flex-direction: column; align-items: center;gap: 4px;">
    <p style="font-size: small;margin: 0;">¿Tienes alguna duda? ¿Quieres hablar con gente que está aprendiendo japonés?
    </p>
    <div style="display: flex;align-items: center;font-size: larger;justify-content: center;">
        <a href="https://discord.gg/y8P7mpDTcB" target="_blank" rel="noreferrer" class="md-header__button md-icon"
            style="color: var(--md-footer-accent-color); background-color: transparent;padding: 5px; border-radius: 9999px;">
            {% set icon = config.theme.icon.search or "fontawesome/brands/discord" %}
            {% include ".icons/" ~ icon ~ ".svg" %}
        </a>
        <div style="display: flex;">
            <p style="margin:0;">Únete a nuestro </p>
            <a style="color: var(--md-footer-accent-color);" href="https://discord.gg/y8P7mpDTcB" target="_blank"
                rel="noreferrer">&nbsp;servidor de Discord</a>
        </div>
    </div>
</div>
{% endblock %}