:root > * {
  --main-color: #afdab8;
  --white: #ebe8e3;
  --black: #101010;
  --secondary-dark: #308054;
  --secondary-light: #25502e;
  --accent-dark: #5bbfc2;
  --accent-light: #3da0a4;
}

h1,
h2 {
  font-weight: 400 !important;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: var(--white);
  --md-primary-fg-color: var(--secondary-light);
  --md-accent-fg-color: var(--accent-light);
  --md-footer-bg-color: #dcf3f8;
  --md-footer-fg-color: #101010;
  --md-footer-accent-color: var(--secondary-light);
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: var(--black);
  --md-primary-fg-color: var(--secondary-dark);
  --md-accent-fg-color: var(--accent-dark);
  --md-footer-bg-color: #15161b;
  --md-footer-fg-color: #ccc;
  --md-footer-accent-color: var(--main-color);
}

.manabe_header {
  background-color: #000;
}

.md-logo img {
  width: 50px !important;
  height: 50px !important;
}

.md-copyright {
  opacity: 0;
}

.md-banner .md-icon svg {
  height: 2rem;
  width: 2rem;
}

.lobby-container {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.lobby-button {
  text-decoration: none;
  background-color: var(--md-primary-fg-color);
  color: white !important;
  padding: 1rem 1.5rem;
  font-size: x-large;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s !important;
}

.lobby-button:hover {
  background-color: var(--md-accent-fg-color);
  /* Zoom */
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .lobby-button {
    width: 45%;
  }
}
